#Header {
    color: rgba(255, 255, 255, 1);
    background-color: #FF69B4;
}
#ScrollContent {
	padding:2.63em 0em 0em 0em;
}

.bc-bg1 {
    /* Your existing styles */
}

.umar-b, .umar-t, .ub-pc, .ub-ac {
    /* Your existing styles */
}

.wh-icon2 {
    /* Your existing styles */
}

.ulev-3 {
    /* Your existing styles */
}

.umart-t {


    /* Your existing styles */
}

.tc-gr {
    /* Your existing styles */
}



