<?xml version="1.0" encoding="utf-8" standalone="no"?>
<widget appId="1" channelCode="0000" height="480" pid="" sreensize="4.5" version="00.00.0000" viewmode="application" widgetId="" width="320">
    <name>会生活</name>
    <description/>
    <author email=""/>
    <icon src="icon.png"/>
    <license href=""/>
    <content encoding="utf-8" src="index.html"/>
    <updateurl/>
    <logserverip>10.24.135.198</logserverip>
    <showmyspace>false</showmyspace>
    <obfuscation>true</obfuscation>
    <bgcolor>#fefefe</bgcolor>
    <orientation>15</orientation>
    <error/>
    <removeloading/>
    <debug/>
    <partobfuscation/>
    <webapp>false</webapp>
</widget>
